body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px 16px 40px 16px;
  transform: translateZ(0);
  text-align: center;
}

.submit-button {
  margin-top: 2em;
}

.ui-input {
  position: relative;
  padding: 0;
  border: 0;
}

.ui-input input {
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  background: none;
  padding: 16px 0 16px 0;
  font-size: 24px;
  outline: 0;
  width: 100%;
}

.ui-input input + label {
  position: relative;
  display: block;
  padding: 8px 0 8px 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.0875em;
  font-weight: 500;
  text-align: left;

  label {
    position: relative;
    color: rgba(255, 255, 255, 0.2);
    transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    background-image: linear-gradient(
      to right,
      #4a90e2 50%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: 100% 50%;
    background-size: 200%;
    -webkit-text-fill-color: transparent;

    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);

    transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.submit-button {
  border: 0;
  background-color: #50617a;
  padding: 18px 30px;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.0875em;
  font-weight: 500;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  outline: 0;
  transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.submit-button:focus,
.submit-button:active,
.submt-button:hover {
  background-color: #6eb1ff;
  color: white;
}

label {
  color: #6eb1ff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.batsu {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1.5px solid #333; /* 枠の調整 */
  border-radius: 50%; /* 丸みの度合い */
  background: #fff; /* ボタンの背景色 */
}

.batsu::before,
.batsu::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px; /* 棒の幅（太さ） */
  height: 22px; /* 棒の高さ */
  background: #333; /* バツ印の色 */
}

.batsu::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.batsu::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
